@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900);
html {
  scroll-behavior: smooth;
}

body {
  
  font: 400 14px/1.8 'Roboto', sans-serif;
  color: #2D2D2D;
  overflow-x: hidden;
  
}
a{
 outline: none;
 text-decoration: none;
 color: #2D2D2D;
}
img{
  object-fit:contain;
  width: 100%;
  height: 100%;
}
#title{
  display: flex;
  justify-content: center;
  padding:10px;
}
#title img{
  height: 50px;
  width: auto;
  margin: 0 auto;
}
.bg-gray{
  background: #f5f5f5;
}

#Giai-phap .Dang-ky-ngay{
  position: relative;
  
  height: fit-content;
}

#Giai-phap .Dang-ky-ngay .outfiz{
  
  padding-left: 120px;
  padding-right: 100px;
  padding-bottom: 20px;
}
.outfiz h2{
  font-size: 80px;
  font-weight: 900;
  margin-top:90px;
  letter-spacing: 5px;
  line-height: 70px;
  
}
.outfiz .content{
  font-size: 28px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
}
.brand{
  
  font-size: 28px;
    font-weight: 600;
    padding: 5px 30px;
    border: 2px solid black;
    border-radius: 5px;
    
    display: inline-block;
  
}
.Dang-ky-ngay .lo-lem{
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.lo-lem img{
  object-fit: cover;
  object-position: 40% 40%;
}
.Loi-ich{
  padding: 0 40px;
  margin-top: -50px;
}
.Loi-ich .Quan-ly{
  text-align: center;
  padding: 10px 10px;
  
  z-index: 100;
}
.Loi-ich .Quan-ly .content
{
  padding: 20px;
  height: 100%;
  background-color: #eeeeee;
}
.content h5{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.tieu-de-2{
 padding:30px 20px;
}
.goi-giai-phap{
  height: 250px;
  
}
.goi-giai-phap .hinh-anh
{
  
  height: 100%;
}
.noi-dung{
  display: flex;
  height: 100%;
  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center ;
  font-size: 20px ;
  line-height: 25px;
  text-align: center;
  font-weight: 400;
  padding:20px;
}
.tieu-de{
  text-transform: uppercase;
  font-size: 20px ;
  font-weight: 700;
  text-align: center;
}
.giai-phap .tieu-de{
  
  color: #fcb43d;
}
#Quy-trinh{
  padding:30px 0;
}
.tron{
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
}
.tron::before{
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  top:50%;
  transform: translateY(-100%);
  background-color: #fcb43d;
  z-index: -1;
}

.circle{
  display: inline-block;
  background: #595959;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
  font-size: 40px;
  font-weight: 600;
  line-height: 100px;
}
.quy-trinh{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color:#313131;
  text-transform: uppercase;
  line-height: 30px;
}


.dang-ky-1{
  background-color: #f6f8fa;
  display: flex;
  align-items: center;
}
.side-img img{
  object-fit: cover;
 
}
.side-img .bong-hoa{
  padding:0 5px 5px 0;
  height: 25%;
}
.side-img .suzy-1{
  padding:5px 5px 0 0;
  height: 75%;
}
.side-img .suzy-2{
  padding-left:5px;
  padding-bottom: 5px;
  height: 75%;
}
.side-img .sky{
  padding:5px 0 0 5px;
  height: 25%;
}
.form{
  padding:20px;
  height: 100%;
  
}
.form .loi-noi-dau{
  padding :50px
}
.form-group{
  justify-content: space-between;
}
.form-group .label{
  color: #262626;
}
.form-control-1{
  display: inline;
  font-size: 16px;
  padding: .375rem .75rem;
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  
}
.form-control-1:focus{
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.tieu-de-3{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding:20px 0;
}
.cam-on{
  text-align: center;
  color: #262626;
}
.form-group{
  padding:10px 0;
}
label{
  font-weight: bold;
  line-height: 35px;
}
.dang-ky-ngay{
  margin-top: 30px;
  width: 100%;
  
}
.btn-dang-ky{
  height: 50px;
  width: 250px;
  margin: 0 auto;
  background-color:#fcb43d;
  color: white;
  border-radius: 4px;
  font-size: 24px;
  line-height: 40px;
  padding: 0;
}
#Hop-tac{
  padding:20px 60px;
  
}
.logo-1{
  padding: 10px;
  
}
.logo-1 img{
  border: 1px solid #c6c6c6;
  border-radius: 4px;
}
#Lien-lac{
  padding: 30px;
  background: #2e2e2e;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.dia-chi-1{
  align-items: center;
  padding:5px;
  justify-items: center;
}
.dia-chi-1 div{
  position: relative;
  margin-left: 10px;
}
i{
  
  font-size:15px;
  line-height: 21px;
  width: 15px;
}

.cap-phep{
  width: 100%;
  text-align: right;
  
}

