@media (max-width: 399px ){
    #Giai-phap .Dang-ky-ngay .outfiz {
        padding-left: 40px;
        padding-right: 40px;
    }
    .outfiz h2{
        font-size: 40px;
        margin-top: 0;
        letter-spacing: 2px;
    } 
    .outfiz .content {
        font-size: 28px;
    }
    .Loi-ich{
        margin:0;
    }
    .brand{
        font-size: 16px;
    }
    
    .Quan-ly .content{
        font-size: 16px;
    }
    .noi-dung{
        font-size: 14px;
    }
    .dia-chi{
        font-size: 12px;
    }
    
    #Lien-lac{
        padding:20px;
    }
    
    .form-control-1{
        font-size: 12px;
    }
    .goi-giai-phap{
        height: 300px;
        font-size:12px;
    }
    .link-fb{
        height: 33px;
    }
    .form-group{
        padding:0;
    }
    .quy-trinh{
        font-size: 16px;
    }
    .circle{
        height: 80px;
        width: 80px;
        font-size: 30px;
        line-height: 80px;
    }
    .loi-noi-dau{
        padding: 20px !important   ;
    }
}
@media (min-width: 400px ) and (max-width: 575px ){
    #Giai-phap .Dang-ky-ngay .outfiz {
        padding-left: 40px;
        padding-right: 40px;
    }
    .outfiz h2{
        font-size: 40px;
        margin-top: 0;
        letter-spacing: 2px;
    } 
    .outfiz .content {
        font-size: 28px;
    }
    .Loi-ich{
        margin:0;
    }
    .brand{
        font-size: 16px;
    }
    
    .Quan-ly .content{
        font-size: 16px;
    }
    .noi-dung{
        font-size: 18px;
    }
    .dia-chi{
        font-size: 12px;
    }
    
    #Lien-lac{
        padding:20px;
    }
    
    .form-control-1{
        font-size: 12px;
    }
    .goi-giai-phap{
        height: 300px;
        font-size:12px;
    }
    .link-fb{
        height: 33px;
    }
    .form-group{
        padding:0;
    }
    .loi-noi-dau{
        padding: 20px !important   ;
    }
}

/* sm */
@media (min-width: 576px ) and (max-width:767px){
    #Giai-phap .Dang-ky-ngay .outfiz {
        padding-left: 40px;
        padding-right: 20px;
    }
    .outfiz h2{
        font-size: 60px;
        margin-top: 50px;
    }
    .outfiz .content {
        font-size: 20px;
    }
    .Loi-ich{
        margin:0;
    }
    .brand{
        font-size: 20px;
    }
    
    
    .noi-dung{
        font-size: 18px;
    }
    .dia-chi{
        font-size: 12px;
    }
    
    #Lien-lac{
        padding:20px;
    }
    
    
    
}
/* md */
@media (min-width: 768px) and (max-width:991px) {
    #Giai-phap .Dang-ky-ngay .outfiz {
        padding-left: 60px;
        padding-right: 40px;
    }
    .outfiz .content {
        font-size: 20px;
    }
    .brand{ 
        font-size: 20px;
    }
    
    .noi-dung{
        font-size: 18px;
    }
    
    
}
/* lg */
@media (min-width: 992px) and (max-width:1199px){
    #Giai-phap .Dang-ky-ngay .outfiz {
        padding-left: 80px;
        padding-right: 60px;
    }
    .outfiz .content {
        font-size: 24px;
    }
    .brand{
        font-size: 24px;
    }
    
    .form{
        font-size: 14px;
    }
    .form-control-1{
        font-size: 14px;
    }
}
/* xl */
@media (min-width: 1200px) {
    
}
@media (min-width: 768px) {
    .Outfiz{
        padding-bottom: 100px;
      }
}
@media (max-width: 575px) {
    .Dang-ky-ngay .lo-lem {
        position: relative;
        height: 400px;
    }
    .dia-chi{
        font-size: 10px;
    }
    

}
@media (max-width: 767px) {
    .res-quy-trinh{
        display: flex;
    }
    .tron{
        display: block;
    }
    .so{
        padding:20px;
    }
    .chu{
        padding:20px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tron::before{
        width: 3px;
        height:80%;
        right:50%;
        top:10%;
        
        transform: translateX(50%); 
    }
    
}
@media (max-width: 399px ){
    .chu{
        height: 130px;
    }
}